<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>215895800657-ec1qmhno7sh2kkpqud5qtovfbrrphg8k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215895800657-ec1qmhno7sh2kkpqud5qtovfbrrphg8k</string>
	<key>API_KEY</key>
	<string>AIzaSyChXqF11W5tjLzOx2mFa-F1Px4cIhh2G9w</string>
	<key>GCM_SENDER_ID</key>
	<string>215895800657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IsaacIngalls.Argon</string>
	<key>PROJECT_ID</key>
	<string>socialapp-fa7c6</string>
	<key>STORAGE_BUCKET</key>
	<string>socialapp-fa7c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:215895800657:ios:04a1c779b276f44c</string>
	<key>DATABASE_URL</key>
	<string>https://socialapp-fa7c6.firebaseio.com</string>
</dict>
</plist>